@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ff6460;

}

.arrow-left {
  width: 0;
  height: 0;
  margin: 0 2em 0 0;
  border-top: .75em solid transparent;
  border-bottom: .75em solid transparent;

  border-right:.75em solid #fff;
}

.arrow-right {
  margin: 0 0 0 2em;
  width: 0;
  height: 0;
  border-top: .75em solid transparent;
  border-bottom: .75em solid transparent;

  border-left: .75em solid #fff;
}

.title-rotate-inpage-l {

  transform: rotate(-90deg);
  position: absolute;
  top: 45%;
  left: -8.2em;
  line-height: 1em;
  mix-blend-mode: multiply;
  z-index: 10000;
  width: 900px;
}

.title-rotate-inpage-offset-l {

  transform: rotate(-90deg);
  position: absolute;
  top: 45%;
  left: -8.2em;
  line-height: 1em;
  opacity: .4;
  z-index: 9999;
 width: 900px;
}

.title-rotate-inpage-m {

  transform: rotate(-90deg);
  position: absolute;
  font-size: 1.1rem;
  text-align: right;
  top: 9em;
  left: -7.9em;
  line-height: 1em;
  mix-blend-mode: multiply;
  z-index: 10000;
  width: 400px;
}

.title-rotate-inpage-offset-m {

  transform: rotate(-90deg);
  position: absolute;
  font-size: 1.1rem;
  text-align: right;
  top: 9em;
  left: -7.9em;
  line-height: 1em;
  opacity: .4;
  z-index: 9999;
  width: 400px;
}

.logo-top {
  position: absolute;
  left: 30px;
  top: -6px;
}

.bio-med-name {
line-height: .8;
}

.bio-hr {
  width: 10%;
  border: 0;
  padding: 5px;
  background-color: #ff6460;
  padding: 0 0 .25em 0;
}

.bio-name {
  mix-blend-mode: multiply;
}
.bio-specialty li, .bio-specialty ul {
  padding: 0;
  opacity:.8;
}

.bio-social-media img:hover {

  color: rgba(255,255,255,0.5);
    opacity: 1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}


*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: 'Overpass', sans-serif;
  background-color: #fff;
}



ul, .no-bullets, .location ul {
  list-style-type: none;
}

ul li:hover{

}
.wrapper {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

 /* Colour */

.bg-black {
  background-color: #000;
}

.bg-grey-black {
  background-color: #2c2c2c;

}

.bg-ultra-dark-grey {
  background-color: #333333;
}

.bg-dark-grey {
  background-color: #464646;
}

.bg-lightgrey {
  background-color: #f6f6f6;
}

.bg-red {
  background-color: #ff6460;
}

.bg-pale-red {
  background-color: #fabeb3;
}

.bg-white {
  background-color: #fff;
}

.text-grey {
  color: #464646;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #ff6460;
}

.text-black {
  color: #000
}

/* Type */

.display-font {
  font-family: 'Work Sans', sans-serif;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}


/* MAIN GRAD PAGE */

.bio-portfolio figure {
  padding: 0;
}
