.filter-items li {
  transition: opacity 500ms ease-in-out;
  background-color: #f16462;
}

.filter-items li:hover p, .filter-items li a:focus p {
  transition: border-top 500ms ease;
  /*border-bottom: 5px solid #f16462;*/
  border-top: 5.5em solid #f16462;
  color: #fff;
  background: #f16462;
  mix-blend-mode: screen;
  z-index: 3000;
  width: 80%;
  opacity: .9;
}


.filter-items li:hover img, .filter-items li a:focus img {
  transition: all 500ms ease-in-out;
  width: 105%;
  transform: translate(-2%,-2%);
}

.filter-items > li > a > p {
  color: #f16462;
  color: #cf514e;
  padding-left: 10px;
}

.filter-items > li > a:focus {
  z-index: 2000;
}

ul li {
  list-style-type: none;
}

#filter-select {
  transform: translatex(-50%);
  width: 80%;
  color: #f16462;
  font-size: 16px;
  background-color: transparent;
  border: 3px solid #f16462;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  height: 40px;
}

.select-special {
  border-bottom: 20px solid #f16462;
}
