@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ff6460;

}

.bio-hr {
  width: 10%;
  border: 0;
  padding: 3px;
  background-color: #fdddd5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: 'Overpass', sans-serif;
  background-color: #fff;
}

ul, .no-bullets, .location ul {
  list-style-type: none;
}

ul li:hover{

}
.wrapper {
  max-width: 60em;
}

.float-left {
  float: left;
}

 /* Colour */

.bg-black {
  background-color: #000;
}

.bg-grey-black {
  background-color: #2c2c2c;

}

.bg-ultra-dark-grey {
  background-color: #333333;
}

.bg-dark-grey {
  background-color: #464646;
}

.bg-lightgrey {
  background-color: #f6f6f6;
}

.bg-red {
  background-color: #ff6460;
}

.bg-white {
  background-color: #fff;
}

.text-grey {
  color: #464646;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #ff6460;
}

.text-black {
  color: #000
}

/* Type */

.display-font {
  font-family: 'Work Sans', sans-serif;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}


/* MAIN GRAD PAGE */

.bio-portfolio figure {
  padding: 0;
}

.bio-vid {
  max-width: 100%;
}
