  .nav {
  background-color: pink;

}
  .nav figure{
  margin: 1em auto 0;

}
/*sm*/
@media only screen and (min-width: 25em) {



.nav {
  text-align: center;
  font-size: .8333rem;
  line-height: 1.3rem;
}

.nav {
  background-color: red;
}
}

/* med */
@media only screen and (min-width: 38em) {
.nav figure{
  margin: 0 auto;
  pad-top: 1em;
}

.nav {
  background-color: green;
}

.nav {
  text-align: left;
  font-size: .6944rem;
  line-height: 1.3rem;
}


}

/* l */
@media only screen and (min-width: 60em) {
.nav {
  background-color: blue;
}

}
