 .bio-name-sm {
  line-height: 0em;
  padding-bottom: .5em;
  mix-blend-mode: multiply;
  text-transform: uppercase;
  color: #ff6460;
 }

 .bio-image img {
  background-color: #ff6460;
 }


.bio-specialty {
  font-size: 1rem;
}
.bio-blurb {
  max-width: 70%;
  padding: 1em 0 1em 0;
  font-size: 1rem;
  font-weight: 300;
}
 /*sm*/

 @media only screen and (min-width: 25em) {




 }

 /* med */

 @media only screen and (min-width: 38em) {
  .circle {
    background-color: #ff6460;
    top: 2em;
    left: 40%;
    height: 20%;
    mix-blend-mode: screen;
    animation: moveblock 2000ms ease;
    animation-fill-mode: forwards, none;
    -webkit-animation-fill-mode: forwards, none;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
  }
  @keyframes moveblock {
    0% {
      top: -10em;


    }

    80% {

      width: 50%;
      left: 40%;
    }
    100% {
      left: 50%;
      width: 0;

    }
  }
  .bio {
    background-color: #fff;
    padding: 0 0 1.5em 0;
  }

  .bio-vid {
    padding: 1em 2em;
  }
  .bio-port-1,
  .bio-port-3 {
    padding: 1em .5em .5em 2em;
  }
  .bio-port-2,
  .bio-port-4 {
    padding: 1em 2em .5em .5em;
  }
  .bio-portfolio {
    background-color: #464646;
  }
  .bio-specialty {
   padding: 1em 1em 0 1em;
  font-size: .6944rem;
  line-height: 1.3rem;
  }

  .bio-name {
    top: 1em;
  }
  .bio-name h2 {
    line-height: 5.75rem;
    padding: 0 0 0 3em;
  }
  .bio-blurb {
    font-size: .6944rem;
    line-height: 1.3rem;
    max-width: 88%;
    padding: 0;
  }


  .bio-portfolio {
    padding: 0em;
  }
  .bio-image {
    padding: 1em 0 0 2em;
  }


  .bio-port-1,
  .bio-port-3 {
    padding: 1.5em 1em 0 2em;
  }
  .bio-port-2,
  .bio-port-4 {
    padding: 1.5em 2em 1em 1em;
  }

 /* l */

 @media only screen and (min-width: 60em) {
  .bio-blurb {
    width: 80%;
      font-size: .8333rem;
  line-height: 1.3rem;
  }
  .bio-image {
    padding: 2em .5em 0em 3em;
  }
  .bio-name {
    top: 5em;
  }
  .bio-name h2 {
    font-size: 4.5832rem;
    line-height: 4rem;
    padding-left: 1.75em;
  }
  .bio-portfolio {

    background-color: #e9e9e9;
  }
  .bio-portfolio figure {
    padding: 0;
  }


  .bio {
    padding: 0 0 2em .5em;
  background-position: 45em -6em;

  }

  .sm-name {

  font-size: 3rem;
  line-height: 0rem;
  }

  .m-name {
  font-size: 5rem;
  line-height: 0rem;
  }

 }
