/*sm*/
@media only screen and (min-width: 25em) {

}

/* med */
@media only screen and (min-width: 38em) {

  .bio {
    padding: 0 0 1.5em 0 ;
  }

.bio-port-1, .bio-port-3 {
  padding: 0 .5em 1em 0;
}

.bio-port-2, .bio-port-4 {
  padding: 0 0 1em .5em;
}

.bio-portfolio{
background-color: #e9e9e9;
}


  .bio-specialty {
   padding: .5em 1em;
  }


.bio-name {
 top: 1em;
}

.bio-name h2 {
  line-height: 5.75rem;
  padding: 0 0 0 1em;

}

.bio-blurb {
  font-size: .6944rem;
  line-height: 1.3rem;
  width: 88%;
}

.bio-portfolio {
  padding: 2em;
}
 .bio-image {
    padding: 1em 0 0 2em ;
  }

}



/* l */
@media only screen and (min-width: 60em) {



  .bio-blurb {
    width: 80%;
  }

  .bio-image {
    padding: 2em .5em 2em 3em;
  }

  .bio-name {
 top: 5em;
  }

  .bio-name h2 {

    font-size: 4.5832rem;
    line-height: 4.45832rem;
    padding-left: 1.75em;
    }

  .bio-portfolio {
    padding: 3em 3em;
    background-color: #e9e9e9;
  }

  .bio-portfolio figure, .bio-vid {
    padding: 0;
  }

  .bio-specialty {
  padding: 0 0 2em .5em;
}

}

