<section class="about grid clearfix" id="about">

  <div class="grid unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 about-splash">

    <div class="title unit unit-xs-1-2 island">
      <img class="title-line" src="{{site.baseurl}}/img/rectangle.svg">
      <h2 class="gutter kilo text-grey text-upper">About</h2>
    </div>

    <div class="unit unit-xs-1 center-text push-2">
      <h1 class="work peta about-head text-grey">THE <span class="text-red">N</span> IS JUST THE BEGINNING. <br><span class="text-red">GET EXCITED.</span></h1>
    </div>

  </div>

  <div class="about-date unit unit-xs-1 text-center bg-red text-white pad-t">
    <h2 class="exa work-sm push-0">MAY 9 2017</h2>
    <p class="grad-info"><strong>AC GRAPHIC DESIGN GRAD SHOW</strong><span class="opacity-pseven"><br>7 PM, Horticulture Building<br>1525 Princess Patricia Way<br>Ottawa, ON K1S 5J3</span></p>
  </div>

</section>
