<section class="about grid clearfix" id="about">

  <div class="grid unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 about-splash">

    <div class="title unit unit-xs-1-2 island">
      <img class="title-line" src="{{site.baseurl}}/img/rectangle.svg">
      <h2 class="gutter mega">About</h2>
    </div>

    <div class="unit unit-xs-1 center-text push-2">
      <h1 class="work peta about-head">YOU REALLY NEED TO GET EXCITED WITH ME NOW. <span class="text-red">YEAH, GET EXCITED WITH MEOW.</span></h1>
    </div>

  </div>

  <div class="about-date unit unit-xs-1 text-center bg-red text-white pad-t">
    <h2 class="exa work">MAY 9</h2>
    <p>7 PM, Horticulture Building<br>1525 Princess Patricia Way<br>Ottawa, ON K1S 5J3</p>
  </div>

</section>
