<div class="footer text-center bg-ultra-dark-grey grid pad-t push-0">
  <ul class="text-center milli list-group unit xs-1 s-1 m-1 l-1 push-0">
    <li class="island">
      <i class="icon i-64">
        <img src="http://placehold.it/64x64" alt="Studio N logo">
      </i>
    </li>
    <li class="text-upper text-red">AC 2017 Graphic Design Gradshow</li>
    <li class="pad-t-1-2 text-white">May 9, 2017 @ 7pm</li>
    <li class="pad-t-1-2 text-white">1525 Princess Patricia Way</li>
    <li class="pad-t-1-2 text-white">Ottawa ON</li>
    <li class="pad-t-1-2 text-upper text-white">K1s 5j3</li>
  </ul>
  <ul class="list-group-inline text-center unit xs-1 s-1 pad-t-2">
    <li>
      <i class="icon i-32">
        <img src="http://placehold.it/32x32" alt="fb">
      </i>
    </li>
    <li class="gutter">
      <i class="icon i-32">
        <img src="http://placehold.it/32x32" alt="fb">
      </i>
    </li>
    <li>
      <i class="icon i-32">
        <img src="http://placehold.it/32x32" alt="fb">
      </i>
    </li>
  </ul>
</div>
<div class="grid grid-middle text-center bg-grey-black">
  <div class="unit s-1 m-1-2 l-1-2">
    <p class="unit-content-distribute push-0 island text-grey milli">Copyright © 2017 Algonquin College</p>
  </div>
  <div class="unit s-1 m-1-2 l-1-2 island-1-2 text-center">
    <i class="unit-content-distribute icon i-64">
      <img src="http://placehold.it/64x64" alt="Studio N logo">
    </i>
  </div>
</div>
