<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{page.title}}{% endif %}</title>
  <link href="{{site.baseurl}}/css/filter.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,900" rel="stylesheet">
  <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
  <meta name="description" content="{{page.meta}}">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{page.title}}{% endif %}">
  <meta itemprop="description" content="{{page.meta}}">
  <meta itemprop="image" content="https://grads.images.algonquindesign.ca/2017/images-other/facebook-n.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@algonquindesign">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}}{% endif %}">
  <meta name="twitter:description" content="{{page.meta}}">
  <meta name="twitter:image" content="https://grads.images.algonquindesign.ca/2017/images-other/twitter-n.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://2017.grads.algonquindesign.ca" />
  <meta property="og:image" content="https://grads.images.algonquindesign.ca/2017/images-other/facebook-n.jpg" />
  <meta property="og:description" content="{{page.meta}}" />
  <meta property="og:site_name" content="Algonquin College, Graphic Design, Grad 2017" />
</head>
