<section class="hero clearfix">
  <div class="video-text-overlay">
    <h2 class="title-rotate text-grey text-upper">gradshow 2017</h2>
  </div>

  <button class="play-sound text-red text-upper">sound on/off</button>

  <div class="fullscreen-bg">
    <img class="hero-gif" src="https://grads.images.algonquindesign.ca/2017/video/webvid-xs.gif">
    <video loop muted autoplay poster="https://grads.images.algonquindesign.ca/2017/video/web-banner-poster.jpg" class="fullscreen-bg__video">
        <source src="https://grads.images.algonquindesign.ca/2017/video/web-banner-temp.mp4">
    </video>
  </div>
</section>
