<section class="hero clearfix">
  <div class="video-text-overlay">
    <h2 class="title-rotate text-grey text-upper unit-l-hidden unit-xl-hidden">gradshow 2017</h2>
    <img src="{{site.baseurl}}/img/gradshow-r.svg" class="gradshow-rotated unit-xs-hidden unit-s-hidden unit-m-hidden">
  </div>

  <button class="play-sound text-red text-upper">sound on/off</button>

  <div class="fullscreen-bg">
    <video loop muted autoplay poster="https://grads.images.algonquindesign.ca/2017/video/web-banner-poster.jpg" class="fullscreen-bg__video">
        <source src="https://grads.images.algonquindesign.ca/2017/video/banner-vid.mp4">
    </video>
  </div>
</section>
