<div class="nav-portfolio grid grid-bottom gutter-2 bg-ultra-dark-grey">
  <div class="unit xs-1-2">
    <div class="grid grid-bottom">

      <div class="unit unit-xs-hidden m-1-4 l-1-4">
       <figure class="logo-top push-1-2 pad-t-1-2"">
          <a href="{{site.baseurl}}index.html">
          <svg height="64" id="Layer_1" version="1.1" viewbox="0 0 81 111" width=
          "64px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
          <g>
            <g>
              <path d=
              "M13.4,29.9h12.2c1.6,0,3.1,0.8,4,2.1l19.2,26.9v-24c0-2.7,2.2-5,5-5h13.6c2.7,0,5,2.2,5,5v65.2 c0,2.7-2.2,5-5,5H55.2c-1.6,0-3.1-0.8-4-2.1L32,76.2v23.9c0,2.7-2.2,5-5,5H13.4c-2.7,0-5-2.2-5-5V34.9 C8.5,32.1,10.7,29.9,13.4,29.9z"
              fill="#ff6460"></path>
            </g>
          </g>
          </svg>
          </a>
       </figure>

      </div>
    </div>
  </div>

  <div class="unit menu milli text-white text-upper unit-xs-hidden m-1-2 l-1-2 pad-b">
    <ul class="push-0 list-group-inline">

{% assign incoming = false %}
{% assign last = false %}
{% assign prevurl = false %}
{% assign nexturl = false %}

{% for item in site.designers %}

  {% if item.disabled %}
    {% continue %}
  {% endif %}

  {% if item.slug == page.slug %}
    {% assign incoming = true %}
  {% else %}

    {% if incoming %}
      {% assign prevurl = last.url %}
      {% assign nexturl = item.url %}
      {% break %}
    {% else %}
      {% assign last = item %}
    {% endif %}

  {% endif %}

  {% if forloop.last %}
    {% assign prevurl = last.url %}
    {% break %}
  {% endif %}

{% endfor %}




    {% if prevurl %}

    <li><a href="{{prevurl}}" class="prev">Prev</a></li>

    {% endif %}

      <li class="gutter-1-2"><a href="{{site.baseurl}}/">Home</a></li>

      {% if nexturl %}

      <li><a href="{{nexturl}}" class="nxt">Next</a></li>

      {% endif %}

    </ul>
  </div>


<!--sm screen menu-->
    <div class="unit menu mega text-white text-upper xs-1 s-1 unit-m-hidden">
    <ul class="push-0 list-group-inline">
    {% if prevurl %}
        <li class="pad-b pad-t"><a href="{{prevurl}}" class="prev">Prev <span class="hidden">{{prevurl}}</span></a></li>
    {% endif %}

      <li class="pad-t"><a href="#">
        <figure class="gutter push-0">
          <svg class="push-0" height="64" id="Layer_1" version="1.1" viewbox="0 0 81 111" width=
          "81px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
          <g>
            <g>
              <path d=
              "M13.4,29.9h12.2c1.6,0,3.1,0.8,4,2.1l19.2,26.9v-24c0-2.7,2.2-5,5-5h13.6c2.7,0,5,2.2,5,5v65.2 c0,2.7-2.2,5-5,5H55.2c-1.6,0-3.1-0.8-4-2.1L32,76.2v23.9c0,2.7-2.2,5-5,5H13.4c-2.7,0-5-2.2-5-5V34.9 C8.5,32.1,10.7,29.9,13.4,29.9z"
              fill="#ff6460"></path>
            </g>
          </g>
          <g>
            <path d=
            "M8.5,16.1c0.3,0.1,0.5,0.1,0.8,0.2c0.2,0.1,0.5,0.1,0.8,0.1c0.3,0,0.6,0.1,0.9,0.1c0.5,0,0.8-0.2,0.8-0.6 c0-0.1-0.1-0.3-0.2-0.5c-0.2-0.2-0.4-0.3-0.6-0.5c-0.2-0.2-0.5-0.4-0.8-0.6c-0.3-0.2-0.5-0.5-0.8-0.8c-0.2-0.3-0.4-0.6-0.6-1 c-0.2-0.4-0.2-0.8-0.2-1.3c0-0.5,0.1-1,0.3-1.4c0.2-0.4,0.5-0.8,0.8-1s0.7-0.5,1.2-0.6c0.5-0.1,1-0.2,1.5-0.2c0.3,0,0.5,0,0.8,0 C13.3,8,13.6,8,13.8,8c0.3,0,0.5,0.1,0.7,0.1v3.2c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.4,0c-0.1,0-0.2,0-0.3,0 c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0.1,0.2,0.2,0.3c0.2,0.1,0.3,0.3,0.6,0.5 c0.2,0.2,0.5,0.4,0.7,0.6c0.3,0.2,0.5,0.5,0.7,0.8c0.2,0.3,0.4,0.7,0.6,1c0.2,0.4,0.2,0.8,0.2,1.3c0,0.5-0.1,1-0.2,1.4 c-0.2,0.4-0.4,0.8-0.7,1.2c-0.3,0.3-0.8,0.6-1.3,0.8c-0.5,0.2-1.2,0.3-1.9,0.3c-0.4,0-0.8,0-1.2-0.1c-0.4,0-0.7-0.1-1-0.1 c-0.3-0.1-0.6-0.1-0.9-0.2V16.1z"
            fill="#ff6460"></path>
            <path d="M19.7,11.2h-2.1v-3h8v3h-2.1v8.5h-3.8V11.2z" fill="#ff6460"></path>
            <path d=
            "M33.3,19.9c-0.7,0-1.4-0.1-2-0.3c-0.6-0.2-1.1-0.5-1.5-0.8c-0.4-0.4-0.7-0.8-1-1.4c-0.2-0.6-0.3-1.2-0.3-2 V8.2h3.7v7.1c0,0.4,0.1,0.7,0.2,0.9c0.2,0.2,0.4,0.3,0.8,0.3c0.4,0,0.7-0.1,0.8-0.3c0.2-0.2,0.2-0.5,0.2-0.9V8.2H38v7.3 c0,0.8-0.1,1.4-0.3,2c-0.2,0.6-0.5,1-1,1.4c-0.4,0.4-0.9,0.6-1.5,0.8C34.6,19.8,34,19.9,33.3,19.9z"
            fill="#ff6460"></path>
            <path d=
            "M41.2,19.6V8.2h3.2c1.1,0,2,0.1,2.9,0.4c0.8,0.2,1.6,0.6,2.1,1.1c0.6,0.5,1,1.1,1.3,1.8 c0.3,0.7,0.5,1.5,0.5,2.5c0,0.9-0.2,1.8-0.5,2.5c-0.3,0.7-0.7,1.3-1.3,1.8c-0.6,0.5-1.3,0.8-2.1,1.1c-0.8,0.2-1.8,0.4-2.9,0.4H41.2 z M44.9,16.4c0.9,0,1.5-0.2,2-0.6c0.5-0.4,0.7-1,0.7-1.9c0-0.8-0.2-1.5-0.7-1.9c-0.5-0.4-1.1-0.6-2-0.6V16.4z"
            fill="#ff6460"></path>
            <path d="M53.9,8.2h3.9v11.5h-3.9V8.2z" fill="#ff6460"></path>
            <path d=
            "M60.4,13.9c0-0.8,0.2-1.6,0.5-2.3c0.3-0.7,0.7-1.4,1.3-1.9c0.5-0.5,1.2-1,1.9-1.3c0.7-0.3,1.5-0.5,2.3-0.5 s1.6,0.2,2.3,0.5c0.7,0.3,1.4,0.7,1.9,1.3c0.5,0.5,1,1.2,1.3,1.9c0.3,0.7,0.5,1.5,0.5,2.3s-0.2,1.6-0.5,2.3 c-0.3,0.7-0.7,1.4-1.3,1.9c-0.5,0.5-1.2,1-1.9,1.3c-0.7,0.3-1.5,0.5-2.3,0.5s-1.6-0.2-2.3-0.5c-0.7-0.3-1.4-0.7-1.9-1.3 c-0.5-0.5-1-1.2-1.3-1.9C60.6,15.5,60.4,14.7,60.4,13.9z M64,13.9c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8 c0.2,0.2,0.5,0.4,0.8,0.5c0.3,0.1,0.6,0.2,0.9,0.2c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.3,0.8-0.5c0.2-0.2,0.4-0.5,0.5-0.8 c0.1-0.3,0.2-0.6,0.2-0.9c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.3-0.3-0.5-0.5-0.8c-0.2-0.2-0.5-0.4-0.8-0.5c-0.3-0.1-0.6-0.2-0.9-0.2 c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.8,0.5c-0.2,0.2-0.4,0.5-0.5,0.8C64.1,13.3,64,13.6,64,13.9z"
            fill="#ff6460"></path>
          </g></svg>
       </figure>
      </a></li class="pad-b pad-t">

      {% if nexturl %}
      <li><a href="{{nexturl}}" class="nxt">Next <span class="hidden">{{nexturl}}</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>


<script>
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{base}}{{prevurl}}'; }
  if (e.keyCode == '39') { window.location = '{{base}}{{nexturl}}'; }
};
</script>
