

<!--
<nav class="navbar grid bg-ultra-dark-grey text-white milli">

  <div class="unit bg-dark-grey push-0">
    <i class="icon i-64">
      <img src="http://placehold.it/64x64" alt="Studio N logo">
    </i>
  </div>

  <div class="unit pad-t-1-2 ">
     <ul class="gutter-1-2">
      <li class="text-red">7PM</li>
      <li>May 9 Horticulture Building</li>
      <li>1525 Princess Patricia Way, Ottawa, ON K1S 5J3</li>
    </ul>
  </div>

  <div class="unit">
    <ul class="list-group-inline gutter">
      <li class="island-1-2">about us</li>
      <li class="island-1-2">designers</li>
      <li class="island-1-2">connect</li>
    </ul>
  </div>

</nav>
-->

<nav class="grid grid-bottom text-upper micro text-light no-bullets bg-ultra-dark-grey text-white">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 pad-t-1-2">
    <div class="grid grid-middle">

      <div class="unit text-center gutter-l s-1-6 m-1-6 l-1-6">
        <i class="img-flex icon i-64 pad-b">
          <img src="http://placehold.it/64x64" alt="Studio N logo">
        </i>
      </div>

      <div class="unit gutter s-2-3 m-2-3 l-2-3 push-0 pad-t-1-2 pad-b">

      <ul class="no-bullets class="push-0"">
         <li class="milli"> You are invited</li>
         <li class="text-red">May 09, 2017 @ 7pm</li>
         <li> Horticulture Building</li>
         <li>1525 Princess Patricia Way, Ottawa, ON</li>
      </ul>
      </div>
    </div>
  </div>

    <div class="unit unit-xs-hidden unit-s-hidden xs-1 s-1 m-1-2 l-1-2 text-right">
      <ul class="push-0 island-1-2 list-group-inline gutter">
        <li class="gutter-1-2">about us</li>
        <li class="gutter-1-2">designers</li>
        <li class="gutter-1-2">events</li>
        <li class="gutter-1-2">connect</li>
      </ul>
    </div>


</nav>
