

<!--
<nav class="navbar grid bg-ultra-dark-grey text-white milli">

  <div class="unit bg-dark-grey push-0">
    <i class="icon i-64">
      <img src="http://placehold.it/64x64" alt="Studio N logo">
    </i>
  </div>

  <div class="unit pad-t-1-2 ">
     <ul class="gutter-1-2">
      <li class="text-red">7PM</li>
      <li>May 9 Horticulture Building</li>
      <li>1525 Princess Patricia Way, Ottawa, ON K1S 5J3</li>
    </ul>
  </div>

  <div class="unit">
    <ul class="list-group-inline gutter">
      <li class="island-1-2">about us</li>
      <li class="island-1-2">designers</li>
      <li class="island-1-2">connect</li>
    </ul>
  </div>

</nav>
-->

<div class="nav grid grid-bottom text-upper micro text-light no-bullets bg-ultra-dark-grey text-white">
  <div class="unit xs-1 s-1 m-1-2 l-1-2">
    <div class="grid grid-middle">

      <div class="unit xs-1 s-1 m-1-6 l-1-6">
        <figure class="push-0">
            <img src="http://placehold.it/64x64" alt="Studio N logo">
        </figure>
      </div>

      <div class="unit unit-xs-hidden unit-s-hidden m-2-3 l-2-3 push-0 pad-b">
        <div class="no-bullets bg-dark-grey push-0">
           <p class="push-0 milli"> You are invited</p>
           <p class="push-0 text-red">May 09, 2017 @ 7pm</p>
           <p class="push-0"> Horticulture Building</li>
           <p class="push-0">1525 Princess Patricia Way, Ottawa, ON</p>
        </div>


      </div>
    </div>
  </div>

    <div class="menu unit text-center xs-1 s-1 m-1-2 l-1-2">
      <ul class="push-0 island-1-2 list-group-inline gutter">
        <li class="gutter-1-4">home</li>
        <li class="gutter-1-4">about us</li>
        <li class="gutter-1-4">designers</li>
        <li class="gutter-1-4">events</li>
        <li class="gutter-1-4">connect</li>


      </ul>


    </div>


</div>
