<nav class="grid grid middle bg-dark-grey milli push-0">
  <div class="unit s-1-2 m-1-2 l-1-2 push-0">
    <i class="unit-content-distribute icon i-64">
      <img src="http://placehold.it/64x64" alt="Studio N logo">
    </i>
  </div>


  <div class="unit s-1-2 m-1-2 l-1-2 text-white bg-red text-right">
    <ul class="list-group-inline gutter">
      <li class="island-1-2">about us</li>
      <li class="island-1-2">designers</li>
      <li class="island-1-2">connect</li>
    </ul>
  </div>

</nav>
