<div class="nav bg-dark-grey gutter">
  <div class="clearfix">
    <a class="button" href="{{site.baseurl}}/">
      <i class="icon i-64 n-logo">
        <svg height="64" id="Layer_1" version="1.1" viewbox="0 0 81 111" width="64px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
          <g>
            <g>
              <path d="M13.4,29.9h12.2c1.6,0,3.1,0.8,4,2.1l19.2,26.9v-24c0-2.7,2.2-5,5-5h13.6c2.7,0,5,2.2,5,5v65.2 c0,2.7-2.2,5-5,5H55.2c-1.6,0-3.1-0.8-4-2.1L32,76.2v23.9c0,2.7-2.2,5-5,5H13.4c-2.7,0-5-2.2-5-5V34.9 C8.5,32.1,10.7,29.9,13.4,29.9z" fill="#f16462"></path>
            </g>
          </g>
        </svg>
      </i>
    </a>

    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="#about" onclick="closeNav()">ABOUT US</a>
      <a href="#grads" onclick="closeNav()">DESIGNERS</a>
    </div>

    </div>
    <span onclick="openNav()" class="hamburger">
      <img src="{{site.baseurl}}/img/hamburg-w.svg" class="ham-bars">
    </span>
  </div>
</div>
