<section class="sponsors grid clearfix bg-dark-grey">

  <div class="title unit unit-xs-1-2 island">
    <img class="title-line" src="{{site.baseurl}}/img/rectangle.svg">
    <h2 class="gutter kilo text-white text-upper">Thank you</h2>
  </div>

  <div class="thank-yous unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <ul class="sponsor-list list-group">
      {% for sponsor in site.data.sponsors%}
        <li class="sponsor-list-item">
          <p class="sponsor-name text-white">{{sponsor.name}}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

</section>
