
figure {
  margin: 0 auto;
  padding: 0;
}

figure img {
  margin: 0 auto;
  display: block;
}

.bottom-logo i {
  margin: 0 auto;
}

.nav-portfolio{
  overflow: hidden;
}
.nav-portfolio  {
  transition: all 500ms linear;
}


.nav-portfolio a {
  color: #fabeb3;
}


.nav-portfolio a:hover {
  opacity: 1;

border-bottom: 1px dashed rgba(255,255,255, 0.5);
animation: lamp 500ms ease-out forwards;
}

@keyframes lamp {
  0% {
      opacity: .5;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  }


  13% {
    -webkit-filter: blur(2px);
  filter: blur(2px);
  }

  15% {
    -webkit-filter: blur(8px);
  filter: blur(8px);
  }


  20% {
      opacity: .95;
  -webkit-filter: blur(2px);
  filter: blur(2px);

  }

  70% {

  -webkit-filter: blur(0px);
  filter: blur(0px);
  }

  90% {
    color: #fabeb3;
  }

  100% {
  opacity: 1;
  }
}



.menu ul li {
  text-align: right;
}

/*sm*/
@media only screen and (min-width: 25em) {

.menu {
  text-align: center;
}

}

/* med */
@media only screen and (min-width: 38em) {

.menu {
  text-align: right;
  padding-right: 2em;
}

}

/* l */
@media only screen and (min-width: 60em) {

  .nav-portfoliokground-color: ;
  }

}
