<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.longname-oneline %}{{page.longname-oneline}}, Designer{% endif %}</title>
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/nav-footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/mediaqueries.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:900" rel="stylesheet">
  <link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon">
  <meta name="description" content="{{page.meta}}">
</head>

<body class="bg-dark-grey">
  <div class="wrapper bg-lightgrey">
   {% include nav-portfolio.html %}

    {{content}}

    {% include footer.html %}
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
